@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bg {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(25, 127, 127);
    border: 10px solid white;
    border-radius: 15%;
}

#openWindow {
    display: flex;
    width: 100%;
    height: 100vh;
    user-select: none;
    background-color: rgba(1, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
  }

#preview {
    position: absolute;
    transform: scale(0.2);
    right: -6%;
}

#faviconTop {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 5px;
}

#openWindowTittle {
    position: absolute;
    text-align: center;
    right: 6%;
}
h1{
    padding-bottom: 0;
    margin-bottom: 0;
}
h2{
    padding-top: 0;
    margin-top: 0;
}
body {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#openWindow.disappear {
    animation: disappear 0.5s forwards;
}

#openWindow.appear {
    animation: appear 2s forwards;
}

.no-transition {
    transition: none;
}